/* custom.css */
.flex-container {
    display: flex;
    justify-content: flex-start;
}

.text-item {
    width: 20%;
    padding-right: 2%;
}

.player-item {
    width: 78%;
}

.admonition.seealso {
    background-color: #e0f7fa;
}

.ray-dense td,
.ray-dense th {
    font-size: 85%;
    padding: 0 .4em;
}

.ray-dense th {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    opacity: .7;
    text-align: left;
}

.ray-dense thead {
    border-bottom: 1px solid #aaa;
}

/* 
.md-header {
    background-color: #FF5722;
} */

/* 
.md-header-nav__title {
    color: crimson;
}

.md-header-nav__link {
    color: purple;
}

.md-header__button {
    color: purple;
} */