/* custom.css */
.flex-container {
    display: flex;
    justify-content: flex-start;
}

.text-item {
    width: 20%;
    padding-right: 2%;
}

.player-item {
    width: 78%;
}

.admonition.seealso {
    background-color: #e0f7fa;
}

.ray-dense td,
.ray-dense th {
    font-size: 85%;
    padding: 0 .4em;
}

.ray-dense th {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    opacity: .7;
    text-align: left;
}

.ray-dense thead {
    border-bottom: 1px solid #aaa;
}

/* Syntax highlighting */
:root>* {
    --md-code-hl-number-color: teal;
    --md-code-hl-variable-color: teal;
    /* --md-code-hl-special-color: #66D9EF; */
    --md-code-hl-function-color: navy;
    --md-code-hl-constant-color: navy;
    --md-code-hl-keyword-color: navy;
    --md-code-hl-string-color: maroon;
    --md-code-hl-name-color: #A6E22E;
    --md-code-hl-operator-color: #F92672;
    --md-code-hl-punctuation-color: gray;
    --md-code-hl-comment-color: gray;
    --md-code-hl-generic-color: #66D9EF;
}

/* 
.md-header {
    background-color: #FF5722;
} */

/* 
.md-header-nav__title {
    color: crimson;
}

.md-header-nav__link {
    color: purple;
}

.md-header__button {
    color: purple;
} */