/* custom.css */
.flex-container {
    display: flex;
    justify-content: flex-start;
}

.text-item {
    width: 20%;
    padding-right: 2%;
}

.player-item {
    width: 78%;
}

.admonition.seealso {
    background-color: #e0f7fa;
}

/* 
.md-header {
    background-color: #FF5722;
} */

/* 
.md-header-nav__title {
    color: crimson;
}

.md-header-nav__link {
    color: purple;
}

.md-header__button {
    color: purple;
} */