/* custom.css */
.flex-container {
    display: flex;
    justify-content: flex-start;
}

.text-item {
    width: 20%;
    padding-right: 2%;
}

.player-item {
    width: 78%;
}

.admonition.seealso {
    background-color: #e0f7fa;
}