.description-container {
    display: flex;
    /* Use flexbox for layout */
    flex-direction: row;
    /* Ensure the items are oriented horizontally */
}

.text-description {
    flex: 1;
    /* Allow this element to grow and shrink as needed */
    margin-right: 20px;
    /* Add some margin for spacing */
}

.asciinema-embed {
    /* Control the width of the Asciinema embed, can adjust as needed */
    width: 40%;
    flex-shrink: 0;
    /* Prevent the Asciinema embed from shrinking */
}

.description-container::after {
    content: "";
    display: table;
    clear: both;
}